body{
    background-color: black;
    color: white;
}
.conatiner{
      width: 100%;
      overflow: hidden;
}
.box {
   float: left;
   width: 33.33%;
   padding: 15px;
   color: white;
   box-sizing: border-box; 
}
.LeftAlign{
    background-color: burlywood;
    border: 3px solid aquamarine;
}
.CenterAlign {
background-color: silver;
border: 3px solid yellowgreen;
}
.RightAlign {
    background-color: aqua;
    border: 3px solid olivedrab;
}